header {
    text-align: center;
    padding: 10px;
    font-family: Helvetica;
    font-size: xxx-large;
}

p {
    position: absolute;
    margin-top: 150;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

.p1 {
    font-style: oblique;
    font-family: Garamond;
    position: absolute;
    margin-top: 100;
    margin-left: 50;
    font-size: xx-large;
}

.p2 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    margin-top: 200;
    margin-left: 50;
    font-size: x-large;
}

.p3 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    margin-top: 400;
    margin-left: 50;
    font-size: x-large;
}

.p4 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    margin-top: 200;
    margin-left: 680;
    font-size: x-large;
}

.pic {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    width: 250;
    height: 250;
}

.list {
    white-space: nowrap;
    position: absolute;
    right: 800px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
}

.All-Teachers {
    margin-left: 100;
    margin-top: -200;
    position: absolute;
    font-size: xxx-large;
    font-weight: 900;
    font-family: Helvetica;
    text-align: center;
    padding: 350px;
}


h1 {
    white-space: nowrap;
    position: absolute;
    text-align: right;
    right: 950px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
}

h2 {
    margin-top: 225;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

h3 {
    margin-top: 310;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

h4 {
    margin-top: 400;
    margin-left: 400;
    border-color: aliceblue;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-style: groove;
    border-width: 6px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: lightblue;
    background-color: lightblue;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}


img {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    border: 2px solid #ad4d36;
    border-radius: 15px 50px;
    background: #c27536;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.name {
    margin-top: 150;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

select {
    text-align: center;
    border-style: none;
    background-color: #c27536;
    font-family: Helvetica;
}


body {
    background-image: url("https://media.istockphoto.com/photos/business-and-education-background-picture-id671101136?k=20&m=671101136&s=170667a&w=0&h=IRW440E5O4UWMO0wRHdkTaNgdO6DzD_VnEqzJ-XAl0M=");
    background-repeat: no-repeat;
    background-size: 1700px 900px;
}

.btn {
    margin-top: 60;
    margin-left: 150;
    border-color: #c27536;
    background-color: #c27536;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
  }
  
.btn:hover{
    border-left: 3px solid blue;
}


/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c27536;
    display: inline-block;
    width: 150px;
    border-color: #c27536;
    padding: 10px 20px;
    font-size: 20px;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
    max-height:150px; 
    overflow-x:hidden; 
    overflow-y:auto;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
margin-top: 60;
margin-left: 50;
display: inline-block;
position: fixed;
z-index: 1000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: x-small;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border-left: 3px solid blue;
}