h1 {
    position: absolute;
    text-align: right;
    right: 580px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
}

img {
    position: absolute;
    margin-top: 120;
    margin-left: 100;
    width: 250;
    height: 250;
    border-block-end-style: initial;
    border-radius: 25px;
    border: 2px solid #ad4d36;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 15px 50px;
    background: #c27536;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.name {
    margin-top: 150;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

.skills {
    margin-top: 225;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

select {
    text-align: center;
    border-style: none;
    background-color: #c27536;
    font-family: Helvetica;
}

.book {
    margin-top: 300;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #d88f53;
    background-color: #d88f53;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

body {
    background-color: rgb(209, 207, 207);
}