.pic {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    width: 250;
    height: 250;
}

.list {
    white-space: nowrap;
    position: absolute;
    right: 800px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
}

.All-Teachers {
    margin-left: 100;
    margin-top: -200;
    position: absolute;
    font-size: xxx-large;
    font-weight: 900;
    font-family: Helvetica;
    text-align: center;
    padding: 350px;
}

h1 {
    white-space: nowrap;
    position: absolute;
    text-align: right;
    right: 950px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
}

p {
    position: absolute;
    margin-top: 150;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

img {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    border: 2px solid #ad4d36;
    border-radius: 15px 50px;
    background: #c27536;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.name {
    margin-top: 150;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

h2 {
    margin-top: 225;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

select {
    text-align: center;
    border-style: none;
    background-color: #c27536;
    font-family: Helvetica;
}

h3 {
    margin-top: 310;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #c27536;
    background-color: #c27536;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

body {
    background-image: url("https://media.istockphoto.com/photos/business-and-education-background-picture-id671101136?k=20&m=671101136&s=170667a&w=0&h=IRW440E5O4UWMO0wRHdkTaNgdO6DzD_VnEqzJ-XAl0M=");
    background-repeat: no-repeat;
    background-size: 1700px 900px;
}
