extends layout 
block content
    head 
    title= "Profile Page"

    body 
    h1 #{heading}
    img(src='/images/vicky.png' width='200px' height='360px')
    div.name Vicky
    h2 Skills
        select(name="skills_list")
            option(value=1) Select
            option(value=2) Academic
            option(value=3) Recreation
    h3 Book