<html>
<title>Profile Page</title>
   <h1 style="text-align:center;">Teacher Profile</h1>
<body>
   <div class="container">
      <div class="image">
         <img scr="Documents/vicky.png" width="200" height="200" style="vertical-align:down;margin:50px 50px"></p>
      </div>
      <div class="text" style="text-align:center;" style="vertical-align:up;margin:50px 50px">
         <p style="text-align:center;" style="vertical-align:up;margin:50px 50px"><b> Vicky </b></p>
         <label for="Subjects"><B>Subjects:</B></label>     
         <select name="Subjects" id="Subjects">
         <option value="Maths"><B>Maths</B></option>
         <option value="Python"><B>Python</B></option>
         <option value="English"><B>English</B></option>
         <option value="Others"><B>Others</B></option>
         </select></h1>
      </div>


</body>
</html>