extends layout
block content
    h1 Register here
    form(action='/set-password' method='POST')
        label(for='name') Enter your name: 
        input('name'='name') 
        //label(for='lname') Enter your last name: 
        //input('lname'='lname') 
        //label(for='email') Enter your email: 
        //input('name'='email') 
        //label(for='email') Enter your password: 
        //input('name'='password')
        //label(for='askills') Enter your academic skills: 
        //input('askills'='askills') 
        //add dropdown menu plus typing
        //label(for='rskills') Enter your recreational skills: 
        //input('rskills'='rskills') 
        //add dropdown menu plus typing
        //label(for='booking') Select your availablilty: 
        //input('booking'='booking') 
        //add dropdown menu for day of week, duration, slot
        input(type='submit' value='Submit')
        //add profile pic