extends layout
block content
    head 
    title= "Profile Page"

    body
    h1 Link & Learn Video Tutorial   
    div.p13
        iframe(width="800" height="500" src="https://www.youtube.com/embed/tA2yXXUAr30")